Hotels.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://tempuri.org/XMLSchema.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/XMLSchema.xsd"
    xmlns:mstns="http://tempuri.org/XMLSchema.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>

	<xs:simpleType name="PhoneType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{3}-\d{3}-\d{4}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="AddressType">
		<xs:sequence>
			<xs:element name="Number" type="xs:positiveInteger"/>
			<xs:element name="Street" type="xs:string"/>
			<xs:element name="City" type="xs:string"/>
			<xs:element name="State" type="xs:string"/>
			<xs:element name="Zip" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="NearestAirport" type="xs:string" use="required"/>
	</xs:complexType>

	<xs:complexType name="HotelType">
		<xs:sequence>
			<xs:element name="Name" type="xs:string"/>
			<xs:element name="Phone" type="PhoneType" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name ="Address" type="AddressType"/>
		</xs:sequence>
		<xs:attribute name="Rating" type="xs:decimal" use="optional"/>
	</xs:complexType>
	
	<xs:element name="Hotels">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Hotel" type="HotelType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
